{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "jsx-a11y",
  ],
  "rules": {
  	"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "env": {
    "browser": true,
    "node": true,
  }
}
